@font-face {
  font-family: theDark;
  src: url(/fonts/TheDark.ttf);
}
@font-face {
  font-family: hardRock;
  src: url(/fonts/HARD_ROCK.ttf);
}
@font-face {
  font-family: rocknRoll;
  src: url(/fonts/rocknroll_typo_crazy.ttf);
}
body {
  color: white;
}
h1, h2 {
  font-family: theDark;
  font-size: 1em;
}
th {
  color: red !important;
}
td {
  font-weight: bold;
}
td:hover {
  background-color: #6C757D;
}
.gradient-vertical-linear-red {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(300deg, transparent 38%, red 38%, red 66%, transparent 66%);
}
#red-flash {
  width: 0.6em;
}
.container-fluid a {
  color: red;
  font-family: theDark;
  font-size: 1em;
}
#carouselExampleIndicators {
  margin-top: 6.5em;
}
.carousel-inner img {
  margin: 0 auto;
}
figure img {
  width: 12.5em !important;
  height: 12.5em !important;
}
.card {
  box-shadow: 0.375em 0.375em 0.5em black;
}
.card-body a {
  font-family: rocknRoll;
  font-weight: bolder;
}
textarea {
  padding-top: 0.2em;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0.5em;
}
input::placeholder, textarea::placeholder {
  color: red !important;
  font-family: hardRock;
  font-size: 1.75em;
}
form button {
  margin-bottom: 1em;
  font-family: rocknRoll !important;
}